fastapi
uvicorn
pydantic
python-multipart
requests
python-dotenv
PyMuPDF
sqlalchemy         # for SQL-based databases
pymongo            # if using MongoDB
groq
flask_jwt_extended   # for JWT authentication\
flask_cors            # for handling CORS in Flask applications
gunicorn

